---
import { Image } from 'astro:assets';
import headerImage from '../images/manao.png';
---

<header class=" body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex items-center mb-4 md:mb-0">
        <Image src={headerImage} alt="mana'o logo" class="w-32 h-32"/>
        <span class="ml-3 text-4xl font-bold font-cinzel">MANA'O</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900 hover:underline" href="https://lifewave.com/171804" target="_blank" rel="noopener noreferrer">LiveWave</a>
        <a class="mr-5 hover:text-gray-900 hover:underline" href="https://www.regenbogenkreis.de/" target="_blank" rel="noopener noreferrer">Regenbogenkreis</a>
      </nav>
    </div>
</header>